{% extends "base.html" %}

{% block title %}Обо мне — Ислам{% endblock %}

{% block content %}
    <h1>👤 Обо мне</h1>
    <p>Меня зовут Ислам. Я изучаю Python и развиваюсь как backend-разработчик.</p>
    <p>⚙️ Сейчас изучаю Flask, работаю с HTML, CSS и API.</p>
    <p>📚 Прохожу курсы, практикуюсь, создаю реальные мини-проекты.</p>
    <p>🚀 Моя цель — стать Junior backend-разработчиком и решать реальные задачи бизнеса.</p>
    <p>🧠 В работе ценю чистую архитектуру, простоту и эффективность.</p>
{% endblock %}
