{% extends "base.html" %}

{% block title %}Ислам — Python Backend Dev{% endblock %}

{% block content %}
    <h1>🧠 Ислам Мухаматуллин</h1>
    <h3>Молодой backend-разработчик на Python</h3>
    <p>⚙️ Изучаю Flask, строю путь к уровню Junior</p>
    <p>📜 <a href="/static/BestInPython_001290.pdf" target="_blank">Мой сертификат по Python (Stepik)</a></p>
    <p>📬 <a href="https://t.me/IsDarkByte" target="_blank">@IsDarkByte</a></p>
    <p>💻 <a href="https://github.com/IslamMuha" target="_blank">GitHub: IslamMuha</a></p>
{% endblock %}
